/* Load Tailwind's reset + utilities */
@import "tailwindcss";

@theme {
  --color-light-orange: #44bba4;
  --color-lemon-chiffon: #fffbeb;
  --color-Feldgrau: #3b5249;
  --color-cool-grey: #a4a8d1;
  --color-indian-red: #e5989b;
  --color-tea-green: #bfd7b5;
  --color-royal-purple: #7e5a9b;
  --color-vintage-berry: #883955;

  --color-raisin-black-100: #f7f3f5;
  --color-raisin-black-200: #deced6;
  --color-raisin-black-300: #c6a9b8;
  --color-raisin-black-400: #ad859a;
  --color-raisin-black-500: #93627b;
  --color-raisin-black-600: #6e495c;
  --color-raisin-black-700: #49313e;
  --color-raisin-black-800: #25181f;
  --color-raisin-black-900: #0c080a;

  --color-dark-purple: #382633;
  --color-platinum: #ccdbdc;
  --color-celeste: #bcf8ec;
  --color-periwinkle: #afafdc;
  --color-midnight-green: #0b5563;
  --color-grape: #6632b3;
  --color-persian-pink: #db84b2;
  --color-pale-purple: #eeddf2;
  --color-raspberry-rose: #b5446e;

  /* landen kleuren */
  --color-oman: #eec170;
  --color-finland: #5eb1bf;
  --color-belgium: #679436;
  --color-canada: #773344;
  --color-croatia: #e26d5a;
  --color-italy: #ef7674;

  --color-oman-dark: #eec170;
  --color-finland-dark: #a4a8d1;
  --color-belgium-dark: #bfd7b5;
  --color-canada-dark: #773344;
  --color-croatia-dark: #e26d5a;
  --color-italy-dark: #326273;

  /* Heights */
  --height-screen-dvh: 100dvh;

  /* Margins */
  --m-1/4: 25%;
  --m-1/8: 12.5%;

  --font-signika: var(--font-signika); /* Signika Negative */
  --font-sono: var(--font-sono); /* Sono */
}

@custom-variant dark (&:where(.dark, .dark *));
/* --- Your custom styles --- */

* {
  scrollbar-width: thin;
  scrollbar-color: #c6a9b8 #fffbeb00;
}

/* Chrome, Edge, Safari scrollbars */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #6e495c;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6a9b8;
  border-radius: 14px;
  border: 3px solid transparent;
  background-clip: content-box;
}
